.comic {
  position: relative;
  cursor: pointer;
  margin: 13px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
}

.img {
  height: 350px;
  width: 250px;
}

.comicDescription {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.3) 70%,
    rgba(0, 0, 0, 0) 100%
    );
  color: white;
  display: flex;
  font-size: 15px;
  height: 48px;
  left: 0;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.comicDescription span {
  width: 75px;
}

.views {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 40px;
}
