.banner {
  display: flex;
  justify-content: center;
}

.banner img{
  height: auto;
  width: 75%;
}

.container {
  flex: 1;
  padding-top: 60px;
  width: 100%;
}

.comicList {
  display: flex;
  justify-content: center;
  width: 100%;
}

.comicListInner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.statusPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--main-color);
  font-size: 20px;
}

.footerContainer {
  display: flex;
  flex-direction: column;
}

.footer {
  border-top: 0.1rem solid #bbb;
  color: white;
  font-size: 1rem;
  margin: 0 2rem;
  padding: 1rem 0;
  text-align: center;
}
